.question-card-container {
    /* padding: 0px 20px; */
    /* margin-right: 10px; */
    margin: 1% 2%;
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 30px; */
    width: 96%;
}


.course-body {
    background-color: #efefef;
}


.course-body-header {
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0% 2%;
    /* background-color: aqua; */
}

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    /* margin: 30px; */
}

.question-divider {
    width: 96%;
    margin: 1% 2%;
    display: flex;
    justify-content: center;
    /* padding: auto; */
    
}


.question-divider > h3{
    font-size: 32px;
    display: inline-block;
    padding: 20px 30px;
    background-color: #242424;
    color: #efefef;
    border-radius: 10px;
    margin: auto;
    width: 100%;
}


.course-page-h1 {
    display: block;
    margin: 10px 0px;
    font-size: 64px;
    background-color: #efefef;
    color: #242424;
}

.course-page-h2 {
    display: block;
    margin: 10px 0px;
    font-size: 58px;
    background-color: #efefef;
    color: #242424;
}