.home-main-content {
    margin: 2%;
    margin-right: 1%;
    float: left;
    width: 74%;
}

.home-side-content {
    width: 20%;
    height: 96%;
    margin: 2%;
    margin-left: 1%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

#home-activity-container {
    height: 720px;
    width: 100%;
    justify-content: start;
    margin: auto;
}

#home-activity{
    margin: 5px;
    font-size: 18px;
}

@media screen and (max-width: 1366px) {
    #home-activity {
        font-size: 16px;
    }
}


@media screen and (max-width: 960px) {
    .home-main-content {
        width: 95%;
    }

        
    .home-side-content {
        display: none;
    }
    
}

@media screen and (max-width: 480px) {

    .home-main-content {
        margin: 0%;
        margin-right: 0%;
        float: none;
        width: 100%;
    }

    .home-side-content {
        display: none;
    }

}