.user-details-container {
    display: flex;
    flex-direction: row;
    margin: 1% 2%;
    width: 48%;
    /* background-color: aquamarine; */
}

#user-image {
    width: 256px;
    height: 256px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.user-info-container {
    display: flex;
    flex-direction: column;
    height: 256px;
    justify-content:space-around;
}

.user-info {
    margin: 0px 10%;
    font-size: 24px;
    height: 20%;
}

.edit-pass-btn {
    width: 50%;
    padding: 1% 10%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

.user-activity-container {
    width: 98%;
    display: grid;
    /* change here for different layout; */
    grid-template-columns: repeat(2, 1fr);
    margin: 1%;
    gap: 40px;
}

.activity-container {
    width: 95%;
    padding: 2.5%;
    /* margin: 0px 2.5%; */
    /* background-color: aqua;  */
}

.activity-header {
    font-size: 32px;
    display: inline-block;
    padding: 2%;
    background-color: #242424;
    color: #efefef;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    width: 96%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    cursor: pointer;
}

.activity-list-container {
    padding: auto;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
    /* border-radius: 10px; */
    width: 96%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    /* overflow-x: none; */
    scroll-behavior: smooth;
    height: 340px;
}

.profile-activity {
    width: 92%;
    align-self: center;
    display: flex;
    border-radius: 12px;
    background-color: #E2E2E2;
    padding: 1% 2%;
    margin: 1% 2%;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}


@media screen and (max-width: 960px) {

    .activity-header {
        font-size: 28px;
        
    }

    .profile-activity {
        font-size: 16px;
    }

    .user-activity-container {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {

    .user-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1% 2%;
        width: 96%;
    }

    #user-image {
        width: 128px;
        height: 128px;
        border-radius: 200px;
        margin: auto;
    }

    .user-info-container {
        height: 150px;
        width: 90%;
        /* background-color: bisque; */
        margin: 1% 5%;
        align-items: center;
    }

    .user-info {
        /* margin: 0px 10%; */
        font-size: 18px;
        /* height: 300px; */
        align-self: flex-start;
    }

    .user-img-container{
        margin: auto;
    }

    .edit-pass-btn {
        margin: 2% auto;
        padding: 5px 10px;
        width: 120px;
        font-size: 14px;
        height: 50px;
    }

    .activity-header {
        font-size: 24px;
    }

    .profile-activity {
        font-size: 16px;
    }

    .user-activity-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

}

@media screen and (max-width: 480px) {
    

}