.question-body-header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

}

.course-code-name {
    background-color: #b8ea97;
}

.main-content {
    margin-right: 1%;
    width: 74%;
}

.question-section {
    background-color: #b8ea97;
    width: 80px;
    height: 90px;
}

.reply {
    margin-left: 10%;
}

.side-content {
    width: 20%;
    margin: 2%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.side-card{
    width: 95%;
}


header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header > div > h3 {
    font-size: 42px;
    width: 90%;
}

.reply-container {
    display: block;
    margin-left: 5%;
    /* flex-direction: column; */
}

.add-solution-btn {
    margin: 5px 20px;
    border-radius: 10px;
    /* width: 20%; */
    font-size: 36px;
    position: relative;
    float: right;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.small-btn {
    float: left;
    padding: 5px 20px;
    font-size: 18px;
}

.solution-container {
    margin-left: 30px;
}

.reply-btn {
    border-radius: 20px;
    padding: 5px 0px;
    font-size: 18px;
    float: right;
    width: 8%;
    margin: 0px 20px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
}


.flag-table {
}


.flag-table-row {

}

.flag-table-data {

}