.question-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0% 2%;
    width: 96%;
}

.question-body-header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
    width: 96%;
}

.question-main-content {
    /* margin-right: 1%; */
    width: 80%;
}

.question-side-content {
    width: 18%;
    padding: 0% 1%;
    display: flex;
    flex-direction: column;
}

.course-code-name {
    background-color: #b8ea97;
}

.question-page-btn{
    width: 100px;
    align-items: center;
    font-size: 16px;
    display: inline;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    margin: auto 20px;
    height: 20px;
    text-decoration: none;
}

.question-section {
    width: 80px;
    height: 90px;
}

.solution {
    margin-left: 10%;
}


header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header > div > h3 {
    font-size: 42px;
    width: 90%;
}

.question-header-btn-container{
    display: flex;
    flex-direction: row;
}

.reply-container {
    display: block;
    margin-left: 5%;
    /* flex-direction: column; */
}

.add-solution-btn {
    margin: 5px 20px;
    border-radius: 10px;
    /* width: 20%; */
    font-size: 36px;
    position: relative;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.small-btn {
    float: left;
    padding: 5px 20px;
    font-size: 18px;
}

.solution-container {
    margin-left: 30px;
    position: relative;
}

.reply-btn {
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 18px;
    float: right;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.flag-table {
    padding: 1% 5%;
    font-size: 18px;
}

/* .flag-table-row {
}

.flag-table-data {
}    */


.hide-soln-editor-btn {
    top: 0px;
    left: -60px;
}

.question-page-card {
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #242424;
    border-radius: 10px 10px 0px 0px;
    width: 94%;
    position: relative;
}

.question-page-card-header {
    border-radius: 8px 8px 0px 0px;
    padding: 0px 10px;
    background-color: #242424;
    color: #EFEFEF;
}

.question-page-card-header h2 {
    font-size: 1em;
    font-size: 24px;

}
.alignment-right
{
    justify-content: end;
    align-items: end;
}
.question-page-card h3 {
    font-size: 1em;
    font-size: 18px;
    padding: 0px 10px;
}

@media screen and (max-width: 1366px) {
    header>div>h3 {
            font-size: 36px;
    }

    .flag-table {
        font-size: 16px;
    }

    .question-page-card-header h2 {
        font-size: 18px;
    }
    .question-page-card h3 {
        font-size: 16px;
    }
}


.delete-question-btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc4f4c;
    padding: 18px;
    margin: 5px 0px;
    border: 2px solid #242424;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.trash-logo {
    height: 28px;
    width: 28px;
}

@media screen and (max-width: 960px) {

    .question-header-btn-container {
            flex-direction: column;
            justify-content: space-evenly;
            /* padding: 5% 0px; */
    }

    header>div>h3 {
        font-size: 32px;
    }    

    .flag-table {
        font-size: 12px;
    }
    .add-solution-btn {
        font-size: 32px;
    }

    .question-page-card-header h2 {
        font-size: 15px;
    }

    .question-page-card h3 {
        font-size: 13px;
    }

}

@media screen and (max-width: 600px) {
    .reply-btn {
        font-size: 12px;
    }

    .question-page-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin: 0% 2%;
        width: 96%;
    }

    .question-teacher-card,
    .flags-card
    {
        width: 50%;
    }
    

    .question-page-btn {
        width: 60px;
        margin: 2%;
    }

    header>div>h3 {
        font-size: 24px;
    }

    .question-main-content {
        width: 100%;
    }
    
    .question-side-content {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    .topic-list li {
        font-size: 12px;
        margin: 0px;
        margin-left: -24px;
        margin-top: 0px;
    }

    .add-solution-btn {
        font-size: 18px;
    }

    .question-page-card {
        margin: 5% 1%;
    }

    .question-page-card-header h3 {
        display: flex;
    }

    .delete-question-btn {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dc4f4c;
        padding: 11px;
        border: 2px solid #242424;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
    }

    .trash-logo {
        height: 18px;
        width: 18px;
    }

    

}