.result-divider {
    width: 100%;
    margin: 20px 30px;
    /* padding: auto; */

}


.result-divider>h3 {
    font-size: 32px;
    display: inline-block;
    padding: 20px 30px;
    background-color: #242424;
    color: #efefef;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    width: 94%;
}

.search-result-container {
    padding: 0px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Change the number '3' to the desired number of columns */
    /* gap: 30px; */
    /* Change the gap value to set the spacing between grid items */
}


