.btn {
    font-size: 16px;
    display: flex;
    border-radius: 10px;
    padding: 4px 10px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin: auto 20px;
    height: 20px;
    width: 60px;
    text-decoration: none;
}

.light {
    color: #242424;
    background-color: #efefef;
}

.big {
    border-radius: 15px;
    padding: auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 12px 12px;
}

.dark {
    color: #efefef;
    background-color: #242424;
}

.smaller {
    padding: 4px 4px;
    margin-right: 10px;
}