.card{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #242424;
    border-radius: 10px 10px 0px 0px;
    margin: 3%;
    width: 94%;
}


.card-header {
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px;
    background-color: #242424;
    color: #EFEFEF;
}

.card-header-h2{
    font-size: 18px;
    background-color: #242424;
    color: #EFEFEF;
}


.card-subtext {
    padding: 0px 10px;
}


.question-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teacher-card {
    width: 95%;
}

