.card{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #242424;
    border-radius: 12px 12px 0px 0px;
    margin: 3%;
    width: 94%;
    position: relative;
}


.card-header {
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px;
    background-color: #242424;
    color: #EFEFEF;
}

.card-header-h2{
    font-size: 18px;
    background-color: #242424;
    color: #EFEFEF;
}


.card-subtext {
    padding: 0px 10px;
}


.question-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teacher-card {
    width: 95%;
}

.question-counter{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 18px;
    background-color: #EFEFEF;
    color: #242424;
}

@media screen and (max-width: 480px) {
    .question-counter {
        display: none;
    }
}