
.foldable-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid 1px;
    border-color: #242424;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    float: left;
}

.foldable-container-header {
    display: flex;
    padding: 0px 20px;
    background-color: #242424;
    color: #EFEFEF;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

h1 {
    background-color: #242424;
    color: #EFEFEF;
    font-size: 28px;
}

.foldable-container-content {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Change the number '3' to the desired number of columns */
    /* gap: 10px; */
}