
.foldable-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid 1px;
    border-color: #242424;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    float: left;
}

.foldable-container-header {
    display: flex;
    padding: 0px 20px;
    background-color: #242424;
    color: #EFEFEF;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

h1 {
    background-color: #242424;
    color: #EFEFEF;
    font-size: 28px;
}

@media screen and (max-width: 480px) {

    .foldable-container {
            width: 96%;
            margin: 2%;
        }

    .foldable-container-header {
        /* display: flex; */
        width: 95%;
        padding: 0px 2.5%;
        border-radius: 8px 8px 0px 0px;
    }

    h1 {
        font-size: 20px;
    }
}
