.navbar {
    color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 20px; */
    width: 100%;
    height: 80px;
    font-size: 28px;
    background-color: #242424;
}

.navbar>.title,
.navbar>.title:link,
.navbar>.title:visited,
.navbar>.title:focus,
.navbar>.title:hover,
.navbar>.title:active {
    background-color: #242424;
    color: #efefef;
    text-align: center;
    margin: auto 40px;
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


.navbar>.profile-btn,
.navbar>.profile-btn:link,
.navbar>.profile-btn:visited,
.navbar>.profile-btn:focus,
.navbar>.profile-btn:hover,
.navbar>.profile-btn:active {
    font-size: 16px;
    display: inline;
    border-radius: 10px;
    padding: 4px 10px;
    text-align: center;
    margin: auto 20px;
    height: 20px;
    width: 60px;
    color: #242424;
    background-color: #efefef;
    text-decoration: none;
}