.navbar {
    color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    font-size: 28px;
    background-color: #242424;
}

.navbar-ham-menu {
    display: none;
}

.title,
.title:link,
.title:visited,
.title:focus,
.title:hover,
.title:active {
    background-color: #242424;
    color: #efefef;
    text-align: center;
    margin: auto 40px;
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


.profile-btn,
.profile-btn:link,
.profile-btn:visited,
.profile-btn:focus,
.profile-btn:hover,
.profile-btn:active {
    position: relative;
    font-size: 16px;
    display: inline;
    border-radius: 10px;
    padding: 8px 10px;
    text-align: center;
    margin: auto 20px;
    height: 20px;
    width: 100px;
    color: #242424;
    background-color: #efefef;
    text-decoration: none;
    cursor: pointer;
}

.profile-dropdown-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
}

.profile-dropdown-list {
    width: 240px;
    margin: auto;
    position: relative;
    right: 100px;
    top: 0px;
    color: #242424;
    background-color: #efefef;
}

.profile-dropdown-option:hover {
    background-color: #373737;
    color: #efefef;
    padding: 10px 10px;
}

.profile-dropdown-option {
    color: #242424;
    background-color: #efefef;
    padding: 10px 10px;
    border: 2px solid #373737;
    border-top: none;
}

.profile-dropdown-link, .profile-dropdown-link:visited  {
    color: #242424;
    width: 100%;
    height: 100%;
}

.profile-dropdown-link:hover {
    color: #efefef;
}

.hamburger-menu {
    display: none;
}

.upload-redir,
.upload-redir:link,
.upload-redir:visited,
.upload-redir:focus,
.upload-redir:hover,
.upload-redir:active {
    text-decoration: underline;
    color: #efefef;
    font-size: 20px;
    margin: auto;
}

li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

ul.nav-links {
    display: flex;
    margin: auto 0px;
}


@media screen and (max-width: 480px) {
    
    .navbar {
        color: #efefef;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        width: 100%;
        height: 50px;
        font-size: 28px;
        background-color: #242424;
        z-index: 1;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar>.title,
    .navbar>.title:link,
    .navbar>.title:visited,
    .navbar>.title:focus,
    .navbar>.title:hover,
    .navbar>.title:active {
        background-color: #242424;
        color: #efefef;
        justify-content: center;
        text-align: center;
        margin: auto 40px;
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
    }


    .profile-btn, .upload-redir, li.nav-link {
        display: none;
    }

    .navbar-ham-menu {
        display: flex;
        margin: auto;
    }

    .navbar-ham-menu-dropdown {
        position: absolute;
        top: 50px;
        right: 0px;
        width: 100%;
        background-color: #242424;
        z-index: 1;
    }

    .menu-nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #373737;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .menu-nav-link {
        list-style: none;
        padding: 0.8rem 1.2rem;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        background-color: #242424;
        margin: 20px 0px;
        font-size: 24px;
    }

    a.menu-nav-link {
        color: #efefef;
        background-color: #242424;
    }

    .menu-nav-link:hover {
        list-style: none;
        padding: 0.8rem 1.2rem;
        display: flex;
        align-items: center;
        background-color: #efefef;
        color: #242424;
    }

    li.menu-empty {
        background-color: #373737;
        list-style: none;
        height: 50%;
    }
}