.navbar {
    color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    font-size: 28px;
    background-color: #242424;
}

.title,
.title:link,
.title:visited,
.title:focus,
.title:hover,
.title:active {
    background-color: #242424;
    color: #efefef;
    text-align: center;
    margin: auto 40px;
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


.profile-btn,
.profile-btn:link,
.profile-btn:visited,
.profile-btn:focus,
.profile-btn:hover,
.profile-btn:active {
    font-size: 16px;
    display: inline;
    border-radius: 10px;
    padding: 4px 10px;
    text-align: center;
    margin: auto 20px;
    height: 20px;
    width: 60px;
    color: #242424;
    background-color: #efefef;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.upload-redir,
.upload-redir:link,
.upload-redir:visited,
.upload-redir:focus,
.upload-redir:hover,
.upload-redir:active {
    text-decoration: underline;
    color: #efefef;
    font-size: 20px;
    margin: auto;
}

li.nav-link {
    list-style: none;
        margin: 0.5rem 1rem;
        padding: 0.4rem;
        display: flex;
        align-items: center;
}

ul.nav-links {
    display: flex;
    margin: auto 0px;
}