

.sidemenu-container {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #242424;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 354px;

    margin-bottom: 40px;
}

.sidemenu-header {
    border-radius: 10px 10px 0px 0px;
    padding: 0px 20px;
    background-color: #242424;
    color: #EFEFEF;
    /* margin: 10px; */
}

.sidemenu-header{
    background-color: #242424;
    color: #EFEFEF;
}

.sidemenu-header-title {
    font-size: 1.17em;
}


.sidemenu-content {
    padding: 0px 10px;
}

@media screen and (max-width: 1366px) {

    .sidemenu-header-title {
        font-size: 1em;
    }
}
