.votes {
    background-color: aqua;
}

/* .solution {
    background-color: aquamarine;
} */

.solution-header {
    background-color: brown;
}

.solution-text {
    background-color: blanchedalmond;
}

