.solution-header {
    font-size: 32px;
}

.solution-text {
    font: 13px;
}

.solution-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:start;
}


.solution-votes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* padding: 20px 0px; */
    /* padding-right: 30px; */
    margin: 0%;
}

.rte-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rich-text-editor {
    width: 100%;
}
.vote-count {
    margin: 10px auto;
    font-size: 16px;
    /* margin-left: 4px; */
}

.solution-header {
    display: flex;
    font-size: 32px;
    margin: 0% 2%;
    align-items: center;
}

.solution-main-container {
    width: 97%;
    margin-left: 3%;
}

.hide-btn {
    border-radius: 5px;
    width: 10px;
    height: 20px;
    margin: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution-reply{
    width: 95%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #efefef;
    margin: 10px 0px;
}

.solution-box {
    width: 91%;
    margin-left: 5%;
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 20px;
}

.solution-box-container {
    margin-bottom: 4%;
}