@media screen and (max-width: 480px) {

    .card-header-h2 {
        font-size: 14px;
        background-color: #242424;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        border: 0px;
        border-color: #242424;
        
        margin: 0px;
        border-radius: 10px;
    }

    .card-header {
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding: 0px 10px;
        margin: 8px 8px;
        background-color: #242424;
        color: #EFEFEF;
    }

    .card-subtext {
        display: none;
    }


     .question-card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn {
        font-size: 12px;
        /* display: block; */
        border-radius: 8px;
        padding: 2px 2px;
        margin: auto 0px;
        height: 18px;
        width: 45px;
        text-decoration: none;
    }

    .teacher-card {
        width: 95%;
    }

}